###############################################################################

# Globaly ignored files

*~

*.save

*.bak

*.backup

*.o

*.lib

*.a

*.so

*.layout

*.user

*.suo

*.ncb

*.swp

*.moc

*.user*

*.cbp

*.autosave



###############################################################################

# LaTeX compile files
*.aux

*.bbl

*.blg

*.log

*.out

*.syntex.gz



###############################################################################

# CMake

CMakeCache.txt

CMakeLists.txt.user

cmake_install.cmake

CMakeFiles/

build/

BUILD/



###############################################################################

# QMake

*.pro

*.pri
moc_*



###############################################################################

# KDev

.kdev4/

*.kdev4



###############################################################################

# Ignored Ct Creator specific directories

qtc-gdbmacros



###############################################################################

# Visual Studio 2017 specific directories and files

.vs/

Debug/

x64/

*.aps
*.rc

*.sln

*.vcxproj

*.vcxproj.*



###############################################################################

# KDE Dolphin files

.directory

